.usersWrap {
	width: 100%;
	overflow-y: scroll;
	border-radius: 10px;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 4px;
	padding-top: 10px;
	box-sizing: border-box;
	position: relative;
}

.usersWrap h2 {
	/* border: 1px solid #000; */
	display: block;
	width: 100%;
	text-align: center;
	color: #050f3b;
	padding-bottom: 8px;
	font-size: 28px;
}

.usersPagesWrapFetching,
.usersPagesWrap {
	/* border: 2px solid olive; */
	width: 100%;
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* min-height: 1500px; */
}

.usersPagesWrapFetching {
	/* min-height: 1200px; */
	height: 100%;
}

.userItem {
	width: 600px;
	/* min-height: 100px; */
	height: 150px;
	border: 3px solid #050f3b;
	background: #050f3b;
	color: #fff;
	margin: 4px;
	border-radius: 8px;
	padding: 4px;
}

.avaAndBtn {
	width: 20%;
	height: 100%;
	/* border: 2px solid orange; */
	display: inline-block;
	border-radius: 8px;
}

.ava {
	height: 70%;
	/* border: 1px solid #000; */
	display: inline-block;
	width: 100%;
	overflow: hidden;
	border-radius: 50%;
}

.ava img {
	width: 100%;
	height: 100%;
}

.btn {
	width: 100%;
	background: #fff;
	color: #050f3b;
	border: 2px solid #fff;
	border-radius: 4px;
	font-weight: 700;
	cursor: pointer;
	transition: .4s;
}

.btn:hover {
	background: #050f3b;
	color: #fff;
	/* border: 2px solid #fff; */
}

.userInfo {
	display: inline-block;
	width: 80%;
	height: 100%;
	/* border: 2px solid #fff; */
	padding: 6px 16px;
	border-radius: 8px;
	vertical-align: top;
}

.userInfo h3 {
	margin: 6px 0;
}

.usersWrap::-webkit-scrollbar {
	width: 8px;
}

.usersWrap::-webkit-scrollbar-thumb {
	background: #050f3b;
	border-radius: 10px;
	border: 1px solid #fff;
}

.usersWrap::-webkit-scrollbar-track {
	background: none;
}

.usersWrap::-webkit-scrollbar-button {
	background: transparent;
	height: 0;
}

.usersWrap::-webkit-scrollbar-corner {
	background: transparent;
}

.pagesCountWrap {
	color: green
}


.notSelectedPage, .selectedPage {
	color: #fff;
	text-decoration: none;
	border: 2px solid #050f3b;
	padding: 2px 3px;
	margin: 1px;
	border-radius: 6px;
	font-weight: bold;
	background: #050f3b;
	transition: .4s;
	cursor: pointer;
}

.selectedPage {
	color: #050f3b;
	background: #fff;
	border: 2px solid #050f3b;
}

.notSelectedPage:hover,
.pagBtn:hover,
.pagBtn:hover {
	background: #fff;
	color: #050f3b;
	border: 2px solid #050f3b;
}

.pagBtn {
	padding: 2px 3px;
	margin: 1px;
	text-decoration: none;
	color: #fff;
	background: #050f3b;
	border: 2px solid #050f3b;
	font-weight: bold;
	border-radius: 4px;
	transition: .4s;
	cursor: pointer;
}

/* .pagBtn:hover {
	background: #aaa;
} */


.userSearchForm {
	width: 100%;
	border: 1px solid #000;
}