.usersWrap {
	width: 100%;
	overflow-y: scroll;
	border-radius: 10px;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 4px;
	padding-top: 10px;
	box-sizing: border-box;
	position: relative;
}

h2 {width: 100%;}

.usersPagesWrap {
	border: 2px solid olive;
	width: 100%;
}

.userItem {
	width: 600px;
	min-height: 100px;
	border: 2px solid red;
	margin: 4px;
	border-radius: 8px;
}
.avaAndBtn {
	width: 20%;
	height: 100%;
	border: 2px solid orange;
	display: inline-block;
	border-radius: 8px;
	/* position: relative; */
}

.ava {
	height: 70%;
	border: 1px solid #000;
	display: inline-block;
	width: 100%;
	overflow: hidden;
}

.ava img {
	width: 100%;
	height: 100%;
}

.btn {
	width: 100%;
}

.userInfo {
	display: inline-block;
	width: 80%;
	height: 100%;
	border: 2px solid olive;
	border-radius: 8px;
	vertical-align: top;
}

.usersWrap::-webkit-scrollbar {
	width: 8px;
}

.usersWrap::-webkit-scrollbar-thumb {
	background: #050f3b;
	border-radius: 10px;
	border: 1px solid #fff;
}

.usersWrap::-webkit-scrollbar-track {
	background: none;
}

.usersWrap::-webkit-scrollbar-button {
	background: transparent;
	height: 0;
}

.usersWrap::-webkit-scrollbar-corner {
	background: transparent;
}

.pagesCountWrap {
	color: green
}

/* .pagesCountWrap span {
	margin: 0 2px;
} */

.notSelectedPage {
	color: #000;
	text-decoration: none;
	border: 2px solid #000;
	padding: 2px 3px;
	margin: 1px;
	border-radius: 4px;
	background: #ccc;
	transition: .4s;
}

.notSelectedPage:hover, .pagBtn:hover {
	background: #aaa;
}

.selectedPage {
	color: #fff;
	font-weight: bold;
	background: #777;
}

.pagBtn {
	/* box-sizing: border-box; */
	/* padding: 1px 3px 3px 3px; */
	padding: 2px 3px;
	margin: 1px;
	text-decoration: none;
	color: #fff;
	background: #f75e16;
	border: 2px solid #fff;
	border-radius: 4px;
	transition: .4s;
	/* display: table-cell; */
	/* vertical-align: middle; */
}

.pagBtn:hover {
	background: #f59416;
}
/* 
.pagBtn a {
	display: table-cell;
	vertical-align: middle;
} */