.messages {
	display: flex;
	/* flex-wrap: wrap; */
	align-items: flex-end;
	justify-content: flex-end;
	flex-direction: column;
	height: 100%;
}

.message {
	margin: 4px 8px;
	padding: 0 4px;
	color: #050f3b;
	border: 2px solid #fff;
	background: #ddd;
	/* width: 60%; */
	font-size: 12px;
	border-radius: 4px;
}
