.header {
	grid-area: header;
	background: #aaa;
	/* position: sticky; */
	/* width: 100%; */
	/* height: 111px; */
}

/* .header__img {
	width: 50px;
} */

.header img {
	width: 50px;
}

.loginBlock {
	float: right;
}