.nav {
	grid-area: nav;
	background: #aaa;
	border: 2px solid #000;
	border-radius: 10px;
	list-style-type: none;
	height: 88vh;
	/* position: fixed;
	top: 10vh;
	width: 200px; */
	/* потом с позицией разюберусь */

}

.nav ul{
	list-style-type: none;
	
}

.item a {
	text-decoration: none;
	color: #fff;
	/* margin: 8px 0; */
}

.item a.active{
	color: red;
}