.item {
	color: #000;
	margin: 30px auto;
	border: 2px solid #050f3b;
	display: flex;
	flex-wrap: wrap;
	border-radius: 12px;
	justify-content: flex-end;
	max-width: 500px;
	padding: 4px;
}

.item__imgAndText {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
}

.item__img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 10px 15px;
	display: block;
}

.item__msg {
	width: 70%;
	padding: 12px 5px;
	overflow-wrap: break-word;
	color: #050f3b;
}

.likedSymbol,
.notLikedSymbol {
	color: #050f3b;
	font-size: 18px;
	position: relative;
	top: 3px;
}

.notLikedSymbol {
	color: #5a5f8f;
	transition: .4s;
	opacity: .5
}

.item__likes:hover .notLikedSymbol {
	color: #050f3b;
	opacity: 1
}

.item__likes {
	padding-right: 8px;
	cursor: pointer
}
