.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 60px 1fr;
	grid-gap: 8px;
	grid-template-areas: 
	"header header"
	"nav cont"
	/* "footer footer" */
} 

.content-wrapper {
	/* color: green; */
	font-weight: 600;
	grid-area: cont;
	background: #ccc;
	border-radius: 10px;
	overflow: hidden;
	/* position: relative; */
	/* height: 100%; */
}

/* .content-wrapper__img {
	width: 100%;
	position: relative;
	margin-top: -100px;
} */




