.commonWrap {
	/* display: grid; */
	/* grid-template-columns: 3fr 7fr; */
	/* height: 100%; */
	/* border: 1px solid #000; */
	/* height: 400px; */
	height: 100%;
	display: flex;
}

.dialogsWrap {
	background: #fff;
	border-radius: 12px;
	/* grid-row: 1 / 4; */
	/* position: relative; */
	margin: 10px 5px;
	width: 30%;
}

.dialogs {
	list-style-type: none;
	padding: 0 8px;
}

.dialog {
	border: 2px solid #fff;
	cursor: pointer;
	transition: .5s;
	border-radius: 12px;
}

.dialog a {
	background: #050f3b;
	color: #fff;
	text-decoration: none;
	transition: margin-left .5s;
	display: block;
	padding: 4px 36px 2px;
	height: 30px;
	border-radius: 12px;
	position: relative;
}

a.active {
	color: #050f3b;
	background: #ddd;
	margin-left: 20px;
	height: 26px;
	border: 2px solid #050f3b;
}

.dialog:hover a:not(.active) {
	background: #ddd;
	color: #050f3b;
	margin-left: 20px;
}

.dialog__img {
	width: 26px;
	border-radius: 50%;
	margin: 5px;
	/* display: inline-block; */
	position: absolute;
	top: 0;
	left: 0;
	/* height: 20px; */
}

.messagesWrap {
	background: #050f3b;
	border-radius: 12px;
	/* grid-row: 1 / 4; */
	padding: 8px;
	/* position: relative; */
	margin: 10px 5px;
	width: 70%;
	max-height: 83vh;

	overflow-y: scroll;
	/* max-height: 82%;
	bottom: 0; */
} 

.messagesWrap::-webkit-scrollbar {
	width: 5px;
}

.messagesWrap::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 5px;
}

.messagesWrap::-webkit-scrollbar-track {
	background: transparent;
}

.messagesWrap::-webkit-scrollbar-button {
	background: transparent;
	height: 10px;
}

.messagesWrap::-webkit-scrollbar-corner {
	background: transparent;
}

