.commonWrap {
	height: 100%;
	display: flex;
	position: relative;
}

.dialogsWrap {
	background: #fff;
	border-radius: 12px;
	margin: 10px 5px;
	width: 30%;
}

.dialogs {
	list-style-type: none;
	padding: 0 8px;
}

.dialog {
	border: 2px solid #fff;
	cursor: pointer;
	transition: .5s;
	border-radius: 12px;
}

.dialog a {
	background: #050f3b;
	color: #fff;
	text-decoration: none;
	transition: margin-left .5s;
	display: block;
	padding: 4px 36px 2px;
	height: 36px;
	border-radius: 12px;
	position: relative;
}

a.active {
	color: #050f3b;
	background: #ddd;
	margin-left: 20px;
	/* height: 32px; */
	border: 2px solid #050f3b;
}

.dialog:hover a:not(.active) {
	background: #ddd;
	color: #050f3b;
	margin-left: 20px;
}

.dialog__img {
	width: 26px;
	border-radius: 50%;
	margin: 5px;
	position: absolute;
	top: 0;
	left: 0;
}

.messagesWrap {
	background: #050f3b;
	border-radius: 12px;
	color: #fff;
	margin: 10px 5px;
	width: 70%;
	position: relative;
} 


.writeMsg {
	border-radius: 8px;
	/* height: 25%; */
	background: #050f3b;
	
	padding: 5px;
	position: relative;
	bottom: 5px;
}

.writeMsgText {
	min-height: 80px;
	max-height: 200px;
	resize: none;
	width: 94%;
	color: #fff;
	padding: 5px;
	margin: 0 auto;
	display: block;
	background: #050f3b;
	border-radius: 5px;
}

.writeMsgText::-webkit-scrollbar {
	width: 0px;
}

.writeMsgText::-webkit-scrollbar-thumb,
.writeMsgText::-webkit-scrollbar-track,
.writeMsgText::-webkit-scrollbar-corner,
.writeMsgText::-webkit-scrollbar-button {
	background: transparent;
}

.writeMsgText::-webkit-scrollbar-button {
	height: 0px;
}


.writeMsgBtn {
	width: 60px;
	padding: 5px;
	margin: 5px auto;
	background: #fff;
	border-radius: 5px;
	border: none;
	display: block;
}

/* ====================== */

.messages {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	padding: 6px;
	width: 100%;
	height: 75%;
	overflow-y: scroll;
	box-sizing: border-box;
}

.messages::-webkit-scrollbar {
	width: 5px;
}

.messages::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 5px;
}

.messages::-webkit-scrollbar-track {
	background: transparent;
}

.messages::-webkit-scrollbar-button {
	background: transparent;
	height: 10px;
}

.messages::-webkit-scrollbar-corner {
	background: transparent;
}

.outgoing,
.incoming {
	margin: 4px 12px;
	padding: 0 4px;
	color: #050f3b;
	border: 2px solid #aaa;
	background: #aaa;
	font-size: 12px;
	border-radius: 4px;
	position: relative;
	max-width: 250px;
}

.incoming {
	background: #eee;
	border: 2px solid #eee;
	align-self: flex-start;
}

.incoming:before,
.outgoing:before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	bottom: -2px;
}

.incoming:before {
	left: -14px;
	border-color: transparent transparent #eee transparent;
	border-width: 10px 0 9px 15px;
}

.outgoing:before {
	right: -14px;
	border-color: transparent transparent #aaa transparent;
	border-width: 10px 15px 9px 0;

}
